<a href="https://colab.research.google.com/github/sazzadhossain1906098/simple-linear-regression-/blob/main/linear_regression_multiple_variable_exercise_important.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df=pd.read_csv('/content/hiring.csv')
print(df)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [96]:
#forst we have to fill up the missing data.It is called cleaning process
df['experience'].fillna('zero', inplace=True)
print(df)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [97]:
import math
median_test_score = math.floor(df['test_score(out of 10)'].mean())
print(median_test_score)
df['test_score(out of 10)'].fillna(median_test_score, inplace=True)
print(df)

7
  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000

In [98]:
#have to convert word to numerical value
!pip install word2number
from word2number import w2n
df.experience = df.experience.apply(w2n.word_to_num)
print(df)

Requirement already satisfied: word2number in /usr/local/lib/python3.10/dist-packages (1.1)
   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [99]:
reg = linear_model.LinearRegression()
X = df[['experience','test_score(out of 10)','interview_score(out of 10)']]
Y = df['salary($)']
reg.fit(X,Y)
reg.predict([[12,10,10]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93747.79628651])