<a href="https://colab.research.google.com/github/sazzadhossain1906098/simple-linear-regression-/blob/main/test_train_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

df=pd.read_csv("/content/carprices.csv")
print(df.head())

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [39]:
import sklearn.model_selection as model_selection

from sklearn import model_selection
X = df[['Mileage', 'Age(yrs)']]
y = df[['Sell Price($)']]
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)
print(X_train)

    Mileage  Age(yrs)
15    25400         3
18    87600         8
4     46000         4
19    52000         5
5     59000         5
9     67000         6
0     69000         6
11    79000         7
8     91000         8
1     35000         3
13    58780         4
3     22500         2
14    82450         7
10    83000         7
17    69000         5
2     57000         5

In [40]:
reg=linear_model.LinearRegression()
reg.fit(X_train,y_train)
reg.predict(X_test)

array([[25495.57432587],
       [20819.26773714],
       [37434.31800037],
       [27324.47840612]])

In [41]:
print(y_test)

    Sell Price($)
12          26000
7           19300
16          35500
6           32000

In [42]:
reg.score(X_test,y_test)

0.8144372906887609